@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0;
    padding:0;
   
    font-family: 'Poppins';
}
nav{
    
    padding:10px 40px 10px 70px;
    border:1px solid rgb(240, 244, 245);
    border-left:none;
    border-right:none;
}
nav ul{
    display:flex;
    list-style:none;
    flex-wrap:none;
    align-items: center;
    justify-content: center;
}
nav ul div.items{
    padding:0 5px;
    display:inline-flex;
}
nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding:1 12px;
    color:black;
    font-size:1.01em;
    margin:3em;
    font-weight:bold;

}
/* nav ul.Search-icon[input=Search]{
/* display:flex; */
/* background:#b90808;
margin-left:9em;
border-radius:2em;
border:#077210;
width:9em;
} */ 
.Search-icon{
    margin-left:2em;
}
.searchbar{
    height:2em;
    /* padding: 12px; */
    width:18em;
    margin-left:2em;
    background-color: #ECECEC;
    border:none;
    border-radius: 5px;
}

.box1{
    background-color: #080808;
    margin:2em;
    margin-left:5em;
    height:3em;
    width:11em;
    margin-bottom:0.5em;
    /* text-align:center; */
    justify-content: center;
    border-radius:1em;
    color:white
}
h5{
    padding:1.2em;
    /* margin-bottom:0.5em; */
}

.col1{
    background-color: #e9e1e1;
    margin:2em;
    margin-left:5em;
    height:9em;
    width:20em;   
    text-align:center;
    margin-bottom:0.6em;
    /* justify-content: center; */
    border-radius:1em;
    /* color:rgb(10, 10, 10) */
}
.col2{
    background-color: #e9e1e1;
    margin:1.3em;
    margin-left:5em;
    height:9em;
    width:20em;   
    text-align:center;
    margin-bottom:1em;
    /* justify-content: center; */
    border-radius:1em;
    /* color:rgb(10, 10, 10) */
}
.col3{
    background-color: #e9e1e1;
    margin:1.3em;
    margin-left:5em;
    height:9em;
    width:20em;   
    text-align:center;
    /* justify-content: center; */
    border-radius:1em;
    /* color:rgb(10, 10, 10) */
}

.col4{
    background-color: #c7c2c2;
    /* margin:2.5em; */
    margin-left:26em;
    height:16em;
    width:25em;   
    margin-top:1px;
    padding:2px;
    text-align:center;
    /* justify-content: center; */
    border-radius:1em;
    
}

.card-title{
    font-weight:bolder;
    margin-right:7em;
    margin-bottom:-15px;
    color:black;
    font-size:16px;
   
}
.card-text{
   font-weight:bold;
   font-size:15px;
   margin-right:11.4em;
   margin-bottom:4px;

}
.card-text-rupees{
    font-weight:1000;
    font-size:15px;
    margin-right:13.6em;
    color:#077210;
}
.btn-button1{
background-color:#50BBA2;
width:5em;
height:2em;
border: #50BBA2;
border-radius:0.5em;
margin-left:14em;
color:white;
cursor: pointer;
}


/* .card-body{
    margin-right: 8em;
} */
/* .card-text-rupees{
    color:#054b0b;
} */
